<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Identifier</key>
		<string>com.expanz.dependencies</string>
		<key>Kind</key>
		<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
		<key>Platforms</key>
		<array>
			<string>com.apple.platform.iphoneos</string>
		</array>
		<key>Project</key>
		<dict>
			<key>SDK</key>
			<string>iphoneos</string>
			<key>SharedSettings</key>
			<dict>
				<key>ARCHS</key>
				<string>$(ARCHS_STANDARD_32_BIT)</string>
				<key>GCC_VERSION</key>
				<string>com.apple.compilers.llvm.clang.1_0</string>
				<key>IPHONEOS_DEPLOYMENT_TARGET</key>
				<string>latest_iphoneos</string>
				<key>CODE_SIGN_IDENTITY[sdk=iphoneos*]</key>
				<string>iPhone Developer</string>
				<key>HEADER_SEARCH_PATHS</key>
				<string>$SDKROOT/usr/include/libxml2 $SDKROOT/usr/include/libz</string>
				<key>FRAMEWORK_SEARCH_PATHS</key>
				<string>$(inherited) "$(SRCDIR)/ExpanzFrameworks"</string>
                <key>CLANG_ENABLE_OBJC_ARC</key>
                <string>YES</string>
			</dict>
			<key>Configurations</key>
			<dict>
				<key>Release</key>
				<dict>
					<key>OTHER_CFLAGS</key>
					<string>-DNS_BLOCK_ASSERTIONS=1</string>
					<key>OTHER_LDFLAGS</key>
					<string>-ObjC -lstdc++ -all_load -lz -lxml2</string>
				</dict>
			</dict>
		</dict>
		<key>Targets</key>
		<array>
			<dict>
				<key>Frameworks</key>
				<array>
					<string>QuartzCore</string>
					<string>MobileCoreServices</string>
					<string>CFNetwork</string>
					<string>SystemConfiguration</string>
					<string>AVFoundation</string>
					<string>UIKit</string>
					<string>Foundation</string>
					<string>CoreGraphics</string>
					<string>expanziOS</string>
					<string>LRResty</string>
				</array>
				<key>SharedSettings</key>
				<dict>
					<key>GCC_THUMB_SUPPORT[arch=armv6]</key>
					<string/>
					<key>OTHER_LDFLAGS</key>
					<string>-ObjC -lstdc++ -all_load -lz -lxml2</string>
				</dict>
				<key>Configurations</key>
				<dict>
					<key>Release</key>
					<dict>
						<key>VALIDATE_PRODUCT</key>
						<string>YES</string>
					</dict>
				</dict>
			</dict>
		</array>		
	</dict>
</plist>
