<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All Tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>AllTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Examples.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Instrumented.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>expanz-iOS-SDK-StaticLib copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>expanz-iOS-SDK-StaticLib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>framework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>library.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6B1E5E8414734404004145D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B35397A1444275A00C8E6C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B3539CE1444276C00C8E6C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B70143E143A91B70023756C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B70147F143A9A900023756C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B7C5538143ACD65001B1164</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B932F4414344EFC00834A1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B932F6314344EFD00834A1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BB17F5B14425AF200DDA634</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BB17FAF14425C4400DDA634</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BCAFB9614317B1B00575280</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BCAFBBA14317B1C00575280</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BCF17E11476240400B068B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BD5435B147358D40014F148</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BD5435F1473595F0014F148</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BF58B3B144410A50063E805</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BF58B8F14441C5B0063E805</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BF58BBA14441E320063E805</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BF58BCA14441E660063E805</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BF58BDA14441E8D0063E805</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
