<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RunUnitTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>expanz-iOS-SDK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6B70143E143A91B70023756C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B70147F143A9A900023756C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B932F4414344EFC00834A1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B932F6314344EFD00834A1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BCAFB9614317B1B00575280</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BCAFBBA14317B1C00575280</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
